# folium==0.2.1
gurobipy
# imgaug==0.2.5
networkx==2.5
numpy==1.21
wandb
stable-baselines3[extra]
tensorflow==1.14.0
tf-estimator-nightly==2.8.0.dev2021122109
torch==1.12.0 -f https://download.pytorch.org/whl/cu113
torch-geometric -f https://data.pyg.org/whl/torch-1.12.0+cu113.html
torch-scatter -f https://data.pyg.org/whl/torch-1.12.0+cu113.html
torch-sparse -f https://data.pyg.org/whl/torch-1.12.0+cu113.html